<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   schedulings.plist
   AdaptiveSmartFeeder

   Created by Vítor Chagas on 05/03/17.
   Copyright (c) 2017 Adaptive Samrt Feeder. All rights reserved.
-->
<plist version="1.0">
    <dict>
    
    </dict>
</plist>
